{% load static wagtailcore_tags wagtailimages_tags wagtailsettings_tags %}

<section id="pw-accordion" class="pw-custom-column pw-custom-column-tablet">
    <div class="container py-3 py-lg-5">
        <div class="row align-items-center">
            <div class="col-12 col-lg-6 col-md-12">


                <div class="accordion" id="accordionExample">
                    {% for accordion in self.accordion_reapeat %}
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingOne{{ forloop.counter }}">
                        <button class="accordion-button {% if forloop.first %} {% else %} collapsed {% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne{{ forloop.counter }}" aria-expanded="true" aria-controls="collapseOne{{ forloop.counter }}">
                          {{ accordion.titel }}
                        </button>
                      </h2>
                      <div id="collapseOne{{ forloop.counter }}" class="accordion-collapse collapse {% if forloop.first %}show {% endif %}" aria-labelledby="headingOne{{ forloop.counter }}" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            {{ accordion.text }}
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                </div>

            </div>
            <div class="col-12 col-lg-6 col-md-12">

                <div class='pw-content d-flex flex-column mt-4 mt-md-4 mt-lg-0'>
                    <div class="pw-headline-text h-color-dark-blue">
                        {{self.headline|richtext}}
                    </div>
                    <div class="pw-text">
                        {{self.paragraph|richtext}}
                    </div>
                </div>

                {% if self.button_url %}
                    <a href="{{self.button_url}}" class='btn btn-secondary pw-btn'>{{ self.button_text }} <i class="fa-solid fa-arrow-right"></i></a>
                {% elif self.button_page %}
                    <a href="{{self.button_page.url}}" class='btn btn-secondary pw-btn'>{{ self.button_text }} <i class='fa-solid fa-arrow-right'></i></a>
                {% endif %}

            </div>
        </div>
    </div>
</section>