{% load static wagtailcore_tags wagtailimages_tags wagtailsettings_tags %}


<section id="fancy-box" class="py-3 py-lg-5 pw-custom-column" style="color: var(--white);">
    <div class="container pw-content">
        <div class="row justify-content-center">

            <div class="col-12 col-md-7 d-flex flex-column align-items-center">
                <div class="d-flex flex-column pw-content">
                    <div class="pw-fb-headline" style="color: var(--white);">
                        {{self.headline|richtext}}
                    </div>
                    <div class="pw-fb-text text-center">
                        {{self.paragraph|richtext}}
                    </div>
                </div>
            </div>
        </div>
            {% if self.cards_reapeat|length == 1 %}
                {% with card=self.cards_reapeat.0 %}
                {# Hier kommt der Code für den Fall, dass es nur ein Element gibt #}
                <div class="row justify-content-center position-relative">
                    <div class="col-12 col-lg-6">
                    {% image card.image format-webp-lossless as img %}
                        <div class="card mt-2">
                            <div class="row">
                                <div class="col-md-4 col-3 position-relative d-flex align-items-center">
                                    <img src="{{ img.url }}" class="pw-image-fc img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-8 col-9 my-3">
                                    <div class="card-body d-flex flex-column justify-content-between">
                                        <h5 class="card-title">{{ card.title }}</h5>
                                        <p class="card-text">{{ card.text }}</p>
                                        <a class="pw-fc-cta" href="{{ card.button_page.url }}">Mehr erfahren <i class="fa-solid fa-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
                {% endwith %}

                {% elif self.cards_repeat|length == 2 %}
                    {# Hier kommt der Code für den Fall, dass es zwei Elemente gibt #}
                    <div class="row justify-content-center position-relative">
                    {% for card in self.cards_repeat %}
                    
                        <div class="col-12 col-md-6">
                        {% image card.image format-webp-lossless width-800 as img %}
                            <div class="card mt-2">
                                <div class="row">
                                    <div class="col-md-4 col-5 position-relative d-flex align-items-center">
                                        <img src="{{ img.url }}" class="pw-image-fc img-fluid rounded-start" alt="...">
                                    </div>
                                    <div class="col-md-8 col-7 my-3">
                                        <div class="card-body d-flex flex-column justify-content-between">
                                            <h5 class="card-title">{{ card.title }}</h5>
                                            <p class="card-text">{{ card.text }}</p>
                                            <a class="pw-fc-cta" href="{{ card.button_page.url }}">Mehr erfahren <i class="fa-solid fa-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    
                    {% endfor %}
                    </div>
                {% endif %}

            

        </div>
    </div>
</section>