{% load static wagtailcore_tags wagtailimages_tags wagtailsettings_tags %}

<section id="link-cards">
    <div class="container py-3 py-lg-5">
        <div class="row">
            <div class="col-12 col-md-12">
                <div class="pw-subline-text mt-3">
                    <h3>{{self.skyline}}</h3>
                </div>
                <div class="pw-headline-text">
                    <h2>{{self.heading}}</h2>
                </div>
            </div>
        </div>
        <div class="row">

            {% with slider_count=self.slider_reapeat|length %}

                {% if slider_count == 1 %}

                    {% for slider in self.slider_reapeat %}
                        <div class="col-12 col-md-12">
                            Es gibt nur ein Element im Slider.
                        </div>
                    {% endfor %}

                {% elif slider_count == 2 %}

                    {% for slider in self.slider_reapeat %}
                        <div class="col-12 col-md-6">
                            Es gibt zwei Elemente im Slider.
                        </div>
                    {% endfor %}

                {% elif slider_count == 3 %}

                    {% for slider in self.slider_reapeat %}
                        {% image slider.image format-webp-lossless as img %}
                        <div class="col-12 col-md-4">
                            <div class="card mb-3">
                                <img src="{{ img.url }}" class="card-img-top" alt="{{ img.alt }}">
                                <div class="card-body">
                                  <h5 class="card-title">{{ slider.headline }}</h5>
                                  <p class="card-text">{{slider.paragraph}}</p>
                                  <a href="{{slider.button_page}}">Mehr erfahren</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                {% endif %}
            {% endwith %}

        </div>
    </div>
</section>