{% load static wagtailcore_tags wagtailimages_tags wagtailsettings_tags %}

<section id="promo-box" class="py-3 py-lg-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-7">
                <div class="pw-headline-text text-center">
                    {{self.heading|richtext}}
                </div>
                <div class="pw-fb-text text-center">
                    {{self.paragraph|richtext}}
                </div>

                <div class="pw-cta text-center">
                    {% if self.button_url %}
                        <a href="{{self.button_url}}" class="btn btn-secondary">{{ self.button_text }} <i class="fa-solid fa-arrow-right"></i></a>
                    {% elif self.button_page %}
                        <a href="{{self.button_page}}" class="btn btn-secondary">{{ self.button_text }} <i class="fa-solid fa-arrow-right"></i></a>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>
</section>