{% load static wagtailcore_tags wagtailimages_tags wagtailsettings_tags %}


<section id="testimonial-silder" class="pw-custom-column">
    <div class="container py-3 py-lg-5">
        <div class="row">
            <div class="col-12 col-lg-5 col-md-12">
                {% image self.testimonial_image format-webp-lossless as img %} 
                <img class="img-fluid slider-main-image" src="{{ img.url }}" alt="{{ img.alt }}">
            </div>
            <div class="col-12 col-lg-7 col-md-12 d-flex flex-column slider-wrapper">
                <div>
                    <div class="pw-subline-text mt-3">
                        <h3>{{self.skyline}}</h3>
                    </div>
                    <div class="pw-headline-text h-color-dark-blue">
                        <h2>{{self.headline}}</h2>
                    </div>
                </div>


                <div class="d-flex">
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper mt-3">
                            {% for slider in self.slider_reapeat %}
                                {% image slider.img_person format-webp-lossless as img %} 
                                <div class="swiper-slide">
                                    <div class="slide-content">
                                        <div class="slide-text">
                                            <div class="testimonial-box">
                                                <img class="align-self-end img-vector" src="{% static 'image/Vector.png' %}" alt="">
                                                <p>{{ slider.text }}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="person d-flex mt-3">
                                        <div class="person-img-div">
                                            <img src="{{img.url}}" alt="{{img.alt}}">
                                        </div>
                                        <div class="content-person d-flex align-self-center">
                                            <span class="name">{{slider.name_person}}</span>
                                            <span class="job">{{slider.job_person}}</span>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="animeslide-bottom">
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>
