// Importiere Bootstrap
@import "~../../../../../node_modules/bootstrap/scss/bootstrap";

// Variabel
:root {
    --dark-blue: #0B2948;
    --red: #C7202D;
    --white: #ffffff;
    --brown: #B09B8A;
    --black: #444444;
    --pw-serif-font-family: 'Playfair Display';
    --pw-font-family: Roboto 'sans-serif';
    --pw-bg-white: #FFFAF6;
}

// Grid Style
@import "./module/Grid.scss";

// Fonts Style
@import "./module/Fonts.scss";

// Custome Fileds
@import "./module/Custom.scss";

// Buttons Style
@import "./module/Buttons";

//Header Style 
@import "./module/Header.scss";

// Footer Sytle
@import "./module/Footer.scss";

// Cards
#link-cards{
    .card {
        border: 0;
        position: relative;
        overflow: hidden;
        img{
            border-radius: .8rem;
        }
    }
    
    .card-body {
        border-top-left-radius: 0.8rem;
        margin-left: 1.678rem;
        margin-top: -4rem;
        background-color: var(--white);
    } 

}


// Promo Box
#promo-box{
    background-color: var(--brown);
    position: relative;
    overflow: hidden;
    z-index: 0;

    &::after{
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: -1;
        background-image: url('../../image/abs-bg80.png');
    }
}


// Media Masonry
#media-masonry{
    .grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
    }
    
    .grid-item {
        width: calc(25% - 20px);
        margin: 10px;
        box-sizing: border-box;
        &--width2{
            width: calc(50% - 20px);
        }
    }
    
    .grid-item img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
    }
}


// Bild Text Section
#image-text{
    position: relative;
    overflow: hidden;
    background-color: var(--pw-bg-white);
    z-index: 1;
    .bg-abs-60{
        position: relative;
        overflow: hidden;
        z-index: 1;
    }

    .bg-abs-60::after{
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        z-index: -1;
        background-image: url('../../image/abs-bg60.png');
    }
    .image-counter,
    .image-first{
        border-radius: 0.63rem;
        box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.20);
        border: 5px solid var(--white);
    }

    &::after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 75%;
        height: 50%;
        background-size: contain;
        background-position: left bottom;
        background-repeat: no-repeat;
        z-index: -1;
        background-image: url('../../image/abs-bg70.png');
    }

}


// Swiper
#testimonial-silder{
    
    .slider-main-image{
        padding-right: 30px;
    }
    .swiper-wrapper {
        width: 100%;
        height: 100%;
    }

    .slide-content {
        display: flex;
        margin: 0 15px;
        justify-content: space-between;
    }

    .slider-wrapper{
        justify-content: space-between;
    }

    .slide-text {
        width: 100%;
        padding-left: 0;
        box-sizing: border-box;
        display: flex;
        flex-direction:column;
    }
    
    .swiper-button-next, .swiper-button-prev {
        width: 30px;
        height: 30px;
        position: absolute;
        top: calc(90% - 15px);
    }
    
    .swiper-button-next {
        right: 0;
    }
    
    .swiper-button-prev {
        left: 0;
    }
    
    .animeslide-bottom {
        position: absolute;
        bottom: 0rem;
        width: 100%;
        max-width: 100px;
        z-index: 1;
        right: 0;
    }

    .swiper-button-next:after, .swiper-button-prev:after {
        font-family: swiper-icons;
        font-size: 1.4rem;
        text-transform: none!important;
        letter-spacing: 0;
        font-variant: initial;
        line-height: 1;
        color: var(--red);
    }

    // Content
    .testimonial-box{
        padding: 20px;
        background-color: #ffffff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
        box-sizing: border-box;
        display: flex;
        flex-direction:column;
    }

    .img-vector{
        height: auto;
        width: 73px;
    }

    .person-img-div {
        width: 100px; 
        height: 100px; 
        overflow: hidden; 
        border-radius: 50%;
        display: flex; 
        justify-content: center;
        align-items: center; 
    }

    .person-img-div img {
        width: 100%; 
        height: 100%; 
        display: block;
        object-fit: cover; 
    }

    .content-person{
        padding: 0 30px;
        display: flex;
        flex-direction:column;
        .name{
            font-size: 1.7rem;
            font-weight: bold;
        }
        .job{
            font-weight: 400;
            color: var(--red);
        }
    }

}

@media (max-width: 768px) {
    .slide-content {
        flex-direction: column;
    }

    .slider-main-image{
        display: none;
    }

    .slide-text {
        width: 100%;
    }
}




// Fancy box
#fancy-box{
    background-color: var(--dark-blue);
    position: relative;
    overflow: hidden;
    z-index: 0;

    img.pw-image-fc{
        object-fit: cover;
        max-width: 100%;
        max-height: 100%;
        position: absolute;
        height: 100%;
    }

    .pw-fb-headline{
        text-align: center;
        color: var(--white);
    }

    .card-body h5.card-title{
        color: #222222;
    }
    .card-body p.card-text{
        color: var(--black);
    }

    a.pw-fc-cta{
        font-weight: bold;
        text-transform: uppercase;
        color: var(--red);
        &:hover{
            color: var(--dark-blue);
        }
    }

    span.image-underline, span.image-underline-blue, h1, h2, h3, h4, h5, h6, p, a, ol, ul, li{
        color: var(--white);
    }

    &::before{
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: contain;
        background-position: left top;
        background-repeat: no-repeat;
        position: absolute;
        z-index: -1;
        background-image: url('../../image/abs-bg40.png');
    }

    &::after{
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: -1;
        background-image: url('../../image/abs-bg50.png');
    }

}

// Section Gallery Image Text
#section-gallery-image-text{
    position: relative;
    overflow: hidden;

    .image-logo-rounde{
        position: absolute;
        right: 10%;
        top: 50%;
        margin-right: calc(var(--bs-gutter-x) * .5);
        transform: translate(0, -50%);
        border-radius: 500px;
        padding: 0.5rem;
        border: 1px dashed var(--red);
    }

    .image-counter,
    .image-first{
        border-radius: 0.63rem;
        box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.20);
        border: 5px solid var(--white);
    }

    // Hintergrund
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        z-index: -1;
    }

    &::before {
        background-position: left;
        background-image: url('../../image/abs-bg10.png');
    }
    
    &::after{
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 50%;
        height: 50%;
        background-size: contain;
        background-position: bottom right;
        background-repeat: no-repeat;
        z-index: -1;
        background-image: url('../../image/abs-bg30.png');
    }

    .bg-abs::before{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 50%;
        background-size: contain;
        background-position: top right;
        background-repeat: no-repeat;
        z-index: -1;
        background-image: url('../../image/abs-bg20.png');
    }

}


// Startseite Hero
.template-homepage .pw-skyline {
    background-color: var(--brown);
    padding: 5px 30px;
    display: inline-block;
}

.template-homepage .pw-hero-headline{
    margin-top: 25px;
    margin-bottom: 25px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
}



