// Importiere Bootstrap
@import "~../../../../../node_modules/bootstrap/scss/bootstrap";

// Variabel
:root {
    --dark-blue: #0B2948;
    --red: #C7202D;
    --white: #ffffff;
    --brown: #B09B8A;
    --black: #444444;
    --pw-serif-font-family: 'Playfair Display';
    --pw-font-family: Roboto 'sans-serif';
}

// Grid Style
@import "./module/Grid.scss";

// Fonts Style
@import "./module/Fonts.scss";

// Custome Fileds
@import "./module/Custom.scss";

// Buttons Style
@import "./module/Buttons";

//Header Style 
@import "./module/Header.scss";

// Fancy box
#fancy-box{
    background-color: var(--dark-blue);
    position: relative;
    overflow: hidden;
    z-index: 0;

    img.pw-image-fc{
        object-fit: cover;
        max-width: 100%;
        max-height: 100%;
        position: absolute;
        height: 100%;
    }

    .pw-fb-headline{
        text-align: center;
        color: var(--white);
    }

    .card-body h5.card-title{
        color: #222222;
    }
    .card-body p.card-text{
        color: var(--black);
    }

    a.pw-fc-cta{
        font-weight: bold;
        text-transform: uppercase;
        color: var(--red);
        &:hover{
            color: var(--dark-blue);
        }
    }

    span.image-underline, span.image-underline-blue, h1, h2, h3, h4, h5, h6, p, a, ol, ul, li{
        color: var(--white);
    }

    &::before{
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: contain;
        background-position: left top;
        background-repeat: no-repeat;
        position: absolute;
        z-index: -1;
        background-image: url('../../image/abs-bg40.png');
    }

    &::after{
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: -1;
        background-image: url('../../image/abs-bg50.png');
    }

}

// Section Gallery Image Text
#section-gallery-image-text{
    position: relative;
    overflow: hidden;

    .image-logo-rounde{
        position: absolute;
        right: 10%;
        top: 50%;
        margin-right: calc(var(--bs-gutter-x) * .5);
        transform: translate(0, -50%);
        border-radius: 500px;
        padding: 0.5rem;
        border: 1px dashed var(--red);
    }

    .image-counter,
    .image-first{
        border-radius: 0.63rem;
        box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.20);
        border: 5px solid var(--white);
    }

    // Hintergrund
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        z-index: -1;
    }

    &::before {
        background-position: left;
        background-image: url('../../image/abs-bg10.png');
    }
    
    &::after{
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 50%;
        height: 50%;
        background-size: contain;
        background-position: bottom right;
        background-repeat: no-repeat;
        z-index: -1;
        background-image: url('../../image/abs-bg30.png');
    }

    .bg-abs::before{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 50%;
        background-size: contain;
        background-position: top right;
        background-repeat: no-repeat;
        z-index: -1;
        background-image: url('../../image/abs-bg20.png');
    }

}


// Startseite Hero
.template-homepage .pw-skyline {
    background-color: var(--brown);
    padding: 5px 30px;
    display: inline-block;
}

.template-homepage .pw-hero-headline{
    margin-top: 25px;
    margin-bottom: 25px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
}



