{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
{% endblock extra_css %}

{% block content %}

<section class="hero-pages">
    <div class="abs-bg110"></div>
    <div class="container py-0 py-md-3">
        <div class="row">
            <div class="col-12 py-5 d-flex justify-content-center align-items-center flex-column">
                <div class="breadcrumb-content">
                    {% if self.get_ancestors|length > 1 %}
                        <ul class="breadcrumb">
                            {% for p in self.get_ancestors %}
                                {% if p.is_root == False %}
                                    <li><a href="{{ p.url }}">{{ p.title }}</a></li>
                                {% endif %}
                            {% endfor %}
                
                            <li class="active">&nbsp; /&nbsp; {{ self.title }}</li>
                        </ul>
                    {% endif %}
                </div>
                <h2 class="text-center"> {{ page.title }}</h2>
            </div>
        </div>
    </div>
</section>

{% for block in page.content %}
    {% include_block block %}
{% endfor %}

{% endblock content %}
